.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(bottom right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.header {
    height: 30vh;
    width: 100%;
    color: white;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    text-shadow: #004e92 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_list {
    columns: 300px;
    column-gap: 10px;
    padding: 10px;
}

.image_container {
    position: relative;
    margin-bottom: 10px;
}


img {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    display: block;

}

.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #004e92; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)) !important;
    z-index: 1;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.image_container:hover .image_overlay {
    opacity: 0;
    /* Darken gradient on hover for a nice effect */
}
.image_overlay p{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    color: aliceblue;
    font-size: 1.1rem;
}
.image_container:hover .image_overlay p{
    opacity: 0;
} 